@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  outline: none;
  font-family: Montserrat;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(180deg, #05a3a4 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(0deg, rgba(8, 223, 133, 0.83), rgba(8, 223, 133, 0.83));
}

#root {
  height: 100%;
  margin: 0 auto;
}

.button-custom {
  color: #fff;
  background: #080d8e;
  border-radius: 50px;
  font-weight: 400;
  text-align: center;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-custom:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.label-white {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  border: 1px solid #000000;
}

.label-black {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 27px;
  line-height: 32px;
  color: #18191f;
}

.card-room {
  background: #ffffff;
  border: 2px solid #18191f;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px #18191f;
  border-radius: 16px;
  cursor: pointer;
}

.card-room-selected {
  background: #080d8e;
  border: 2px solid #18191f;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px #18191f;
  border-radius: 16px;
}

.card-room-selected * {
  color: white !important;
  cursor: pointer;
}

.label-grey {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #474a57;
}

.button-close {
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff522d;
  border: 2px solid #18191f;
  box-sizing: border-box;
  border-radius: 100%;
  cursor: pointer;
}
